:root{
    /* ## Colors */

    /* ### Primary */

    --Details: hsl(158, 36%, 37%);
    --DetailsDark: hsl(158, 36%, 14%);
    --Background: hsl(30, 38%, 92%);

    /* ### Neutral */

    --Title: hsl(212, 21%, 14%);
    --FontColor: hsl(228, 12%, 48%);
    --CardBackground: hsl(0, 0%, 100%);

    /* ## Typography */

    /* ### Body Copy */
    --ProductTitle: "Fraunces", serif;
    --CardFont: "Montserrat", system-ui;

    --Paragraph{
        font-size: 14px;
        font-weight: 500;
    }
}